body {
  text-align: center;
  background-color: rgb(192, 221, 247);
}

#myButton {
  padding: 7px 15px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
#myButton:hover {
  transform: scale(1.05);
  transition: 0.1ms;
}
.mylabel {
  font-size: 18px;
}
