* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./assets/11.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#calculator {
  background-color: hsla(0, 0%, 15%, 0.863);
  border-radius: 15px;
  max-width: 400px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 15px;
  font-size: 3.5rem;
  text-align: center;
  border: none;
  background-color: hsla(0, 0%, 20%, 0.432);
  color: #fff;
}

#keys {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: none;
  background-color: hsla(0, 0%, 30%, 0.904);
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background-color: hsla(0, 0%, 40%, 0.904);
}
button:active {
  background-color: hsla(0, 0%, 50%, 0.904);
}

.btn {
  background-color: hsl(35, 100%, 50%);
}
.btn:hover {
  background-color: hsl(35, 100%, 60%);
}
.btn:active {
  background-color: hsl(35, 100%, 70%);
}
